* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
}

body {
  min-height: 100%;
}

/* Reusable class */

.f-open {
  font-family: "Open Sans", sans-serif;
}
.f-pop {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* ******************* */
/* Header Section */
/* ******************* */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 6rem;
  margin-bottom: 6.25rem;
}
.logo {
  width: 10rem;
  height: 1.5625rem;
}

.btn {
  display: inline-block;
  border: 1px solid hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
  background-color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 31.25rem;
  box-shadow: 0 0 1.25rem 1px hsla(321, 100%, 78%, 0.253);
  cursor: pointer;
}

/* ******************* */
/* Hero Section */
/* ******************* */

.hero-section {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
  background-image: url(./images/bg-section-top-desktop-1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero {
  text-align: center;
}

.primary-heading {
  font-size: 2.5rem;
  color: hsl(192, 100%, 9%);
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 6.25rem;
}

.text-container-center {
  max-width: 37.5rem;
  padding: 1rem 2.5rem;
}

.text-hero {
  font-size: 1.25rem;
  color: hsl(192, 100%, 9%);
  font-weight: 400;
}

.main-button {
  display: inline-block;
  padding: 1.25rem 6.25rem;
  border-radius: 99rem;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  border: none;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.05px;
  cursor: pointer;
}
.hero-img {
  max-width: 53.125rem;
  margin-bottom: 6.25rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 6.25rem;
  padding-bottom: 10rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats-icon {
  width: 2.25rem;
}

.stats-number {
  font-size: 3.35rem;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
}

/* ******************* */
/* SVG Section */
/* ******************* */

.svg-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.125rem;
  background-color: hsl(207, 100%, 98%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.svg-text-container {
  max-width: 31rem;
}

.svg-heading {
  font-size: 2rem;
  color: hsl(192, 100%, 9%);
  margin-bottom: 1rem;
}

.svg-text {
  font-size: 0.9375rem;
  line-height: 1.4;
  color: hsl(192, 100%, 9%);
  font-weight: 500;
}

.svg-img {
  width: 25rem;
}
/* SVG MIDDLE */

.svg-container.middle {
  background-color: #fff;
  padding: 15rem 0;
}

.middle {
  background-image: url(./images/bg-section-bottom-desktop-1.svg),
    url(./images/bg-section-top-desktop-2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top, bottom;
}

.svg-container.solo.middle {
  background-image: url(./images/bg-section-bottom-desktop-2.svg),
    url(./images/bg-footer-top-desktop.svg);
  background-size: 100%;
  flex-direction: column;
  gap: 2rem;
}

.com-text {
  font-size: 2.5rem;
  color: hsl(192, 100%, 9%);
}
